# Cost Analysis

In [1]:
%load_ext autoreload
%autoreload 2
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import sys, os
import numpy as np,pandas as pd
import datetime, time

base_path = os.path.dirname(os.getcwd())
sys.path.append(base_path)
src_path = base_path + "/src"
from src import utilities as util, CostAnalyzer

code_path, data_path, main_result_path = util.GetWorkingDirs(base_path) 
sys.path.append(base_path)
sys.path.append(code_path)

### Select Target System: In case multiple systems in the result directory

In [2]:
# selecting target cost dataset working directory
system_name, data_path = util.GetTargetDir(main_result_path, "server name")
print("Target directory is: " + data_path)

The following systems are found in the result folder. Select server name :
1:System_CVS
2:System_LS
Target directory is: D:\GithubRepos\CCMT-NILM\code\results\System_CVS

### Cost Dataset Loading

In [3]:
# initialize cost analysis module
ObjAnalyzer = CostAnalyzer.CostAnalyzer(data_path=data_path, system_name=system_name)

In [4]:
# load the cost dataset
ObjAnalyzer.LoadWorkingDataset()

In [5]:
# display the cost dataset
ObjAnalyzer.dataset.head()
ObjAnalyzer.dataset.shape

   dw_minutes  Number of Houses  Number of Processes  ProcTime_FromSystem  time_disagg_online_sec  ProcTime_FromMeter  ProcEnergy_FromMeter  meter_energy_bg_dw_wh  house_energy_min_kwh  house_energy_mean_kwh  house_energy_median_kwh  house_energy_max_kwh  house_energy_total_kwh
0        60.0              1500                    6              139.218                 139.110               139.0                3.8417               126.8806                   0.0                 0.3899                   0.2551                 4.030                584.8643
1        60.0              2000                    1             1118.250                1118.140              1117.0               13.6967               127.6856                   0.0                 0.3918                   0.2583                 4.030                783.6808
2        60.0              2500                    1             1329.547                1329.406              1316.0               17.2382               127.7029                   0.0                 0.3843                   0.2496                 4.030                960.7006
3        60.0              6000                    6              545.077                 544.953               545.0               15.8751               126.9666                   0.0                 0.3908                   0.2574                 4.030               2344.7387
4        60.0              1000                    6               94.625                  94.454                95.0                2.6031               126.4547                   0.0                 0.3894                   0.2617                 3.303                389.3556

(224, 13)

### Data Analysis

In [6]:
# plots associated costs, correlations and comparisons
ObjAnalyzer.FeatureAnalysis(issave=True, isfigshow=False)

monitored cost dataset analysis...

## Cost Analysis

In [7]:
# generate summary table of cost analysis of the NILM algorithm
ObjAnalyzer.CapacityAnalysis()

cost prediction analysis report...
Load model...  D:\GithubRepos\CCMT-NILM\code\results\System_CVS\modeling\models\costmodel_ProcTime_FromMeter.pickle
Load model...  D:\GithubRepos\CCMT-NILM\code\results\System_CVS\modeling\models\costmodel_ProcEnergy_FromMeter.pickle

****************************************
Np: Number of Parallel Processes in Multiprocessing
PT: Processing Time Cost of the NILM Algorthm
PE: Processing Energy Cost of the NILM Algorthm
puh: Per Unit House
DW: Disaggregation Time-Window Size of the NILM Algorithm: In this case 60.0 minutes
AHL: Average House Load in DW
Nh_max: Maximum Load Scale or Number of Houses that can be processed with in DW
THL: Total House Load in DW from Nh_max Houses
SE: Static or background energy consumption of the system or server within DW

****************************************
Saving:  D:\GithubRepos\CCMT-NILM\code\results\System_CVS\analysis\metadata.json

   Np  AHL (kwh)  PT_puh (sec)  PE_puh (wh)  DW (minutes)     SE (wh)  PE_puh/AHL (%)  Nh_max     THL (kwh)     PE (wh)  PE_total (wh)  PE_total/THL (%)
0   1   0.253679      0.550604     0.006980          60.0  127.076884        0.002752    6480   1643.837143   45.232328     172.309212          0.010482
1   2   0.253679      0.223779     0.005268          60.0  127.076884        0.002077   16080   4079.151429   84.713433     211.790317          0.005192
2   3   0.253679      0.150842     0.004112          60.0  127.076884        0.001621   23820   6042.623571   97.947522     225.024406          0.003724
3   4   0.253679      0.117546     0.003346          60.0  127.076884        0.001319   30600   7762.564286  102.375092     229.451976          0.002956
4   5   0.253679      0.101508     0.002890          60.0  127.076884        0.001139   35460   8995.442143  102.479119     229.556003          0.002552
5   6   0.253679      0.090621     0.002578          60.0  127.076884        0.001016   39720  10076.112857  102.396853     229.473736          0.002277
6   7   0.253679      0.082358     0.002409          60.0  127.076884        0.000950   43680  11080.680000  105.246742     232.323626          0.002097
7   8   0.253679      0.078567     0.002295          60.0  127.076884        0.000905   45780  11613.405000  105.074237     232.151121          0.001999